name: Run Cypress Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.0

      - name: Install dependencies
        run: npm install

      - name: Run All tests
        run: npx cypress run --spec "cypress/e2e/**/*.{cy.js,feature}"
        #run: npx cypress run --spec "cypress/e2e/api/users.cy.js"
        #run: npx cypress run --spec  "cypress/e2e/api/**/*.cy.js"

      #- name: Run E2E tests
        #run: npx cypress run --spec "cypress/e2e/features/**/*.feature"

      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: cypress-reports
          path: reports
